<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<dict>
		<key>loginMobileButton</key>
		<string>cellphoneicon_login_profile_66x66_</string>
		<key>loginWechatButton</key>
		<string>weixinicon_login_profile_66x66_</string>
		<key>loginQQButton</key>
		<string>qqicon_login_profile_66x66_</string>
		<key>loginSinaButton</key>
		<string>sinaicon_login_profile_66x66_</string>
		<key>mineFavoriceButton</key>
		<string>favoriteicon_profile_24x24_</string>
		<key>mineHistoryButton</key>
		<string>history_profile_24x24_</string>
		<key>cellRightArrow</key>
		<string>setting_rightarrow_8x14_</string>
		<key>dayOrNightButton</key>
		<string>nighticon_profile_24x24_</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>cellBackgroundColor</key>
		<string>#ffffff</string>
		<key>moreLoginBackgroundColor</key>
		<string>#000060</string>
		<key>moreLoginTextColor</key>
		<string>#ffffff</string>
		<key>black</key>
		<string>#000000</string>
	</dict>
</dict>
</plist>
